# Windows Docker Desktop/Rancher Desktop example: D:/Videos
# Linux example: /srv/videos
DOWNLOAD_DIR=D:/Videos
HTTP_PORT=8080

MAX_CONCURRENT_TASKS=2
CONCURRENT_FRAGMENTS=4
FRAGMENT_RETRIES=10
TASK_MAX_ATTEMPTS=3
SOCKET_TIMEOUT=30